.nav-dropdown.hidden {
    display: none;
}

.nav-dropdown {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 28px;
}

html {
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 32px 20px;
    border-bottom: 1px solid black
}

.homelink {
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: red;
    padding-top: 8px;
}

.menu {
    display: inline-flex;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    background-color: lightgray;
}

.fa-solid.fa-bars {
    padding-right: 5px
}

.buttoncontainer {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background-color: white;
}

.newSpot {
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: 2px solid black;
    background-color: #414143;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.newSpotAndMenu {
    display: inline-flex;
}
